* {
  cursor: none;
}

body {
  background: #333;
  background-size: contain;
}

.heard-it {
  background: #003300;
  background-image: none;
}

#hat {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#hat-img {
  width: 1000px;
}

#house-name {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: white;
}

#house-img {
  height: 300px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#instructions {
  display: none;
  margin-top: 50px;
  font-weight: bold;
  font-size: 40pt;
  color: goldenrod;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heard-it #instructions {
  display: none;
}

.reset #instructions {
  display: block;
}

.reset #house-img {
  display: none;
}
